.backdrop-style {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
}

.modal-style {
    background-color: #fff;
    border-radius: 5;
    max-width: 18vw;
    height: 100vh;
    padding: 2rem;
}
