.App {
    /*background: url("../img/background-800px.jpg") fixed;*/
    background-size: cover;
    background-color: rgba(49, 140, 181, 0.88);
    color: black;
    /*height: 100vh;*/
    width: 100vw;
}



/*--------------------------
           Header
---------------------------*/

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(54, 49, 39, .95);
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(3, 2, 0, 0.64);
    color: #CFC9BD;
    /*width: 100vw;*/
}

.map-container {
    background-color: rgb(49, 140, 181);

}

#map {
    align-self: center;
    /*width: 100vw;*/
    height: 100vh;
    position: fixed;
    background-color: #964ae0;
}

